.mt-60 {
  margin-top: 60px;
}

.detail-specialty-container {
  .description-specialty {
    padding-top: 80px;
    margin: 0 150px;

    h1,
    h2,
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .each-doctor {
    display: flex;
    width: 100%;
    min-height: 300px;
    margin: 15px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px;

    .dt-content-left {
      width: 50%;
    }

    .dt-content-right {
      width: 50%;

      .doctor-schedule {
        margin-bottom: 16px;
      }

      .doctor-extra-info {}
    }
  }

  .detail-specialty-body {
    margin: 0 100px;

    .search-specialty-doctor {
      select {
        height: 30px;
        padding: 5px 8px;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
}